@import "tailwindcss";


@font-face {
  font-family: 'Assassin';
  src: url('assets/fonts/Assassin.woff2') format('woff2'),
    url('assets/fonts/Assassin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .font-assassin {
    font-family: 'Assassin', 'sans-serif';
    font-weight: normal;
    font-style: normal;
  }

  a[aria-current="page"] {
    border-bottom: 2px solid white;
    color: white;
  }

  /*Index*/

  /*Máscara para el nombre y descripción del personaje*/

  .medieval-box {
    mask: radial-gradient(20px at 20px 20px, #0000 98%, #000) -20px -20px;
  }

  .mirage-small-box {
    mask: radial-gradient(15px at 15px 15px, #0000 98%, #000) -15px -15px;
  }

  @media (width >= 48rem) {

    .mirage-box {
      mask: radial-gradient(30px at 30px 30px, #0000 98%, #000) -30px -30px;
    }
  }

  /*Efectos imagen detrás del personaje*/

  .ac-unity:hover .effect-shake {
    animation: shake 15s ease-in-out 0s infinite normal none;
  }

  .gear-spin {
    transition: transform 50s ease-out;
  }

  .ac-syndicate:hover .gear-spin {
    transform: rotate(360deg);
  }

  .effect {
    transition: transform 0.2s ease-in-out;
  }

  .ac-altair:hover .effect,
  .ac-origins:hover .effect,
  .ac-valhalla:hover .effect {
    transform: scale(1.1);
  }

  .effect-vibrate {
    transition: transform 0.2s ease-in-out;
  }

  .ac-ezio:hover .effect-vibrate,
  .ac-odyssey:hover .effect-vibrate {
    animation: vibrate 3s ease-in-out 0s infinite normal none;
  }

  .effect-pulse {
    transition: transform 0.3s ease-in-out;
  }

  .ac-iii:hover .effect-pulse,
  .ac-mirage:hover .effect-pulse {
    animation: pulse 3s ease-in-out 0s infinite normal none;
  }

  /*Origins*/
  @media (min-width: 768px) {
  .clipped {
    clip-path: polygon(0 0, 30% 0%, 0 100%, 0% 100%);
  }
}
}

/* Shake */
@keyframes shake {

  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}


/* Vibrate */
@keyframes vibrate {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

/* Pulse */
@keyframes pulse {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

/*Estilos lightbox de la galería de imágenes*/
.lightbox {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox picture img {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
}

.lightbox picture {
  border: none;
}

.lightbox picture:hover {
  transform: none;
  box-shadow: none;
}

.btn_close,
.btn_prev, 
.btn_next {
  cursor: pointer;
}

.btn_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.btn_prev, 
.btn_next {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.btn_prev {
  position: absolute;
  left: 15px;
}

.btn_next {
  position: absolute;
  right: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

/*Ocultar flechas para modo móvil*/
@media (max-width: 767px) {
  .lightbox__prev,
  .lightbox__next {
    display: none;
  }
}

/*Estilos Origins*/
body.theme-origins .lightbox picture img {
  border-color:#d08700;
  box-shadow: 0 0 20px #d08700;
}

body.theme-origins .btn_close,
body.theme-origins .btn_prev, 
body.theme-origins .btn_next {
  color: #d08700;
  filter: drop-shadow(0 0 8px #d08700);
}

body.theme-origins .btn_prev, 
body.theme-origins .btn_next {
  background-color: #d08700;
  color: #0000007e;
}

/*Estilos Odyssey*/
body.theme-odyssey .lightbox picture img {
  border-color:#973c00;
  box-shadow: 0 0 20px #973c00;
}

body.theme-odyssey .btn_close,
body.theme-odyssey .btn_prev, 
body.theme-odyssey .btn_next {
  color: #973c00;
  filter: drop-shadow(0 0 8px #973c00);
}

body.theme-odyssey .btn_prev, 
body.theme-odyssey .btn_next {
  background-color: #973c00;
  color: #0000007e;
}

/*Estilos Valhalla*/
body.theme-valhalla .lightbox picture img {
  border-color:#009689;
  box-shadow: 0 0 20px #009689;
}

body.theme-valhalla .btn_close,
body.theme-valhalla .btn_prev, 
body.theme-valhalla .btn_next {
  color: #009689;
  filter: drop-shadow(0 0 8px #009689);
}

body.theme-valhalla .btn_prev, 
body.theme-valhalla .btn_next {
  background-color: #009689;
  color: #0000007e;
}

/*Estilos Mirage*/
body.theme-mirage .lightbox picture img {
  border-color:#9f2d00;
  box-shadow: 0 0 20px #9f2d00;
}

body.theme-mirage .btn_close,
body.theme-mirage .btn_prev, 
body.theme-mirage .btn_next {
  color: #9f2d00;
  filter: drop-shadow(0 0 8px #9f2d00);
}

body.theme-mirage .btn_prev, 
body.theme-mirage .btn_next {
  background-color: #9f2d00;
  color: #0000007e;
}